<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/articles">
        <fieldset>
            <input type="text" name="title" placeholder="Enter title">
            <input type="text" name="description" placeholder="Enter description">
            <input type="text" name="tags" placeholder="Enter tags">
            <input type="text" name="author" placeholder="Enter author">
            <input type="number" name="likes" placeholder="Enter likes">
            <input type="submit" value="Submit Form">
            <a href="/articles">
                <button>Go to list</button>
            </a>
        </fieldset>
    </form>
</body>
</html>